@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    /* colours */
    --clr-primary-100: hsl(257, 40%, 49%);
    --clr-primary-200: hsl(300, 69%, 71%);

    /* typography */
    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-400: 400;
    --fw-600: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}