@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    /* colours */
    --clr-primary-100: hsl(257, 40%, 49%);
    --clr-primary-200: hsl(300, 69%, 71%);

    --clr-neutral: hsl(255, 100%, 100%);

    /* typography */
    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-400: 400;
    --fw-600: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--clr-primary-100);
}

p {
    line-height: 1.5;
}

h1 {
    font-family: var(--ff-heading);
    font-size: clamp(1.5rem, 5vw, 2.75rem);
    font-weight: var(--fw-600);
}

.container {
    max-width: 80%;
    margin-inline: auto;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.btn {
    background-color: var(--clr-neutral);
    padding: 0.7rem 4.5rem;
    margin-inline: auto;
    box-shadow: 0 0.5rem 1rem -0.75rem #000;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.btn:hover {
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral);
    transition: 200ms ease-in-out;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
}

body {
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--clr-primary-100);
    color: var(--clr-neutral);
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
}

header {
    margin-block: 2rem;
}

#logo {
    height: 2rem;
}

.hero {
    text-align: center;
}

.hero__img {
    margin-block: 4rem;
}

/* footer */

footer {
    justify-content: space-between;
    align-items: center;
}

.attribution,
.social-icons {
    margin-block: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--clr-primary-200);
}

.social-icons {
    align-items: center;
    justify-content: center;
}

.icon-container {
    color: var(--clr-neutral);
    border: 1.5px solid var(--clr-neutral);
    padding: 0.6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icon-container:hover {
    border: 1.5px solid var(--clr-primary-200);
}

.icon {
    width: 1.2rem;
    height: 1.2rem;
}

/* responsive styles */

@media (min-width: 376px) {
    .container {
        max-width: 90%;
    }

    body {
        background-image: url(./images/bg-desktop.svg);
        background-size: cover;
        background-position: center;
    }
}

@media (min-width:780px) {
    .btn {
        padding: 1rem 5rem;
        margin: 1rem auto 0 0;
    }

    .container {
        max-width: 85rem;
    }

    body {
        font-size: 1.2rem;
    }

    header {
        margin-block: 3rem;
    }

    #logo {
        height: 3.5rem;
    }

    .hero {
        gap: 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .hero__img {
        margin: 0;
    }

    .hero__body {
        margin-block-start: 2rem;
        max-width: 40%;
        text-align: left;
    }

    footer {
        display: flex;
    }

    .attribution,
    .social-icons {
        margin-block: 0;
    }

    .attribution {
        margin: 0;
    }
}